.navbar {
  z-index: 9999;
}

.navbar .text {
  color: #030303;
}

.navbar .text:hover {
  color: #636363;
}

.navbar .text-gradient {
  color: #bb0001;
}

.navbar .text-gradient:hover {
  color: #636363;
}

.navbar .hover-text:hover {
  color: #030303;
}

.icon::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.gotham-medium {
  font-family: "Gotham-Medium", sans-serif;
}
.gotham-book {
  font-family: "Gotham-Book", sans-serif;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", sans-serif;
}
.cinzel-bold {
  font-family: "Cinzel", sans-serif;
}

@media (max-width: 660px) {
  .menunav {
    display: block;
  }

  .menunav-active {
    width: full;
    min-height: 100vh;
  }
}

.side {
  z-index: 50;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
}

.nav {
  background: rgba(0, 0, 0, 0.8);
}
